import irc_client as irc
BACKEND = "10.13.37.143", 5050
HTTP_ROOT = "/bot"
HTTP_LISTEN = "0.0.0.0", 8081

BOT_USERNAME = "wibble"
BOT_REALNAME = "wibble"
BOT_NICKNAME = "wibble"
BOT_CHANNELS = ("#twilightzone",)
JENKINS_CHANNEL = "#jenkins"
GITHUB_CHANNEL = BOT_CHANNELS[0]
