beautifulsoup4==4.3.2
croniter==0.3.8
cssselect==0.9.1
gevent==1.0.2
github3.py==0.9.4
google-api-python-client==1.4.1
greenlet==0.4.7
jira==0.50
ndg-httpsclient==0.4.0
pyasn1==0.1.8
pycrypto>=2.6  # required for jira-python
pyopenssl==0.15.1
pytz==2015.4
raven==5.5.0
requests-oauthlib==0.5.0
requests==2.7.0
wsgiref==0.1.2
